In [1]:
# Question 8 ChatGPT: https://chatgpt.com/share/66e3a499-e190-8012-98c5-380a3d3310ce
# Question 1 to 7 ChatGPT: https://chatgpt.com/share/66e35ad6-b978-8012-8b41-98df55e416de

In [ ]:
import pandas as pd

In [2]:
#Question 1:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"

In [3]:
df = pd.read_csv(url)

In [4]:
df.isna().sum()
df

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [5]:
#Question 2:
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 391
Number of columns: 11

In [6]:
# Observations are the individual rows in my dataset, each representing a single entry, such as one villager in the villagers.csv file with their details.
# Variables are the individual columns in my dataset, each providing specific information about the observations, like the villager’s name, species, birthday, or personality.

In [7]:
#Question 3:
#Overall summary
summary_all = df.describe(include='all')
print(summary_all)

             row_n       id     name gender species birthday personality  \
count   391.000000      390      391    391     391      391         391
unique         NaN      390      391      2      35      361           8
top            NaN  admiral  Admiral   male     cat     1-27        lazy
freq           NaN        1        1    204      23        2          60
mean    239.902813      NaN      NaN    NaN     NaN      NaN         NaN
std     140.702672      NaN      NaN    NaN     NaN      NaN         NaN
min       2.000000      NaN      NaN    NaN     NaN      NaN         NaN
25%     117.500000      NaN      NaN    NaN     NaN      NaN         NaN
50%     240.000000      NaN      NaN    NaN     NaN      NaN         NaN
75%     363.500000      NaN      NaN    NaN     NaN      NaN         NaN
max     483.000000      NaN      NaN    NaN     NaN      NaN         NaN

                song   phrase           full_id  \
count            380      391               391
unique            92      388               391
top     K.K. Country  wee one  villager-admiral
freq              10        2                 1
mean             NaN      NaN               NaN
std              NaN      NaN               NaN
min              NaN      NaN               NaN
25%              NaN      NaN               NaN
50%              NaN      NaN               NaN
75%              NaN      NaN               NaN
max              NaN      NaN               NaN

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

In [8]:
# Get summary statistics for numerical columns
print("Summary statistics for numerical columns:")
print(df.describe())

Summary statistics for numerical columns:
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [9]:
# Get the frequency count of each species
print("\nFrequency count of each species:")
print(df['species'].value_counts())

Frequency count of each species:
species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

In [10]:
# Question 4:
# If there are (a) non-numeric variables and (b) missing values in numeric variables, there can be discrepancies between the dataset size reported by df.shape and the summary provided by df.describe().

# (a) Num of Columns Analyzed: df.shape gives the total number of rows and columns in the dataset, including both numeric and non-numeric variables. However, df.describe() automatically only analyzes numeric columns, which means the number of columns reported by df.describe() can be fewer than the total number of columns indicated by df.shape.

# (b) Values Reported in the "Count" Column: The "count" column in df.describe() shows the number of non-missing values for each numeric variable. If there are missing values in any numeric column, the "count" reported for that column will be less than the total number of rows (df.shape[0]). This discrepancy occurs because df.describe() only counts the non-missing values, leading to a potentially lower count than the actual number of observations in the dataset.

In [11]:
# Question 5:
# An attribute is a characteristic of an object - it holds some kind of data or value. For example, df.shape is an attribute of a DataFrame object in pandas that returns the dimensions of the DataFrame (i.e., the number of rows and columns). Attributes do not require parentheses because they simply only need to return a value or data stored in the object.
# Method is a function that is associated with an object. It performs a specific operation or task on the data within the object. For example, df.describe() is a method of a DataFrame that computes summary statistics for the data. Methods require parentheses because they can take arguments and execute some code to perform their tasks.

In [12]:
# #Question 6:
# 1. Count
# Definition: The number of non-missing (non-NA/null) values in each column. It indicates how many data points are present for each variable.

# 2. Mean
# Definition: The average of the values in the column. It is calculated by summing all the values and then dividing by the number of non-missing values (i.e., the count).

# 3. Standard Deviation (std)
# Definition: A measure of the dispersion or spread of the values in the column around the mean. A higher standard deviation indicates that the values are more spread out from the mean, while a lower standard deviation indicates they are closer to the mean.

# 4. Minimum (min)
# Definition: The smallest value in the column. This represents the lower bound of the data for that variable.

# 5. 25% (First Quartile)
# Definition: The value below which 25% of the data falls. This is also known as the first quartile (Q1). It gives an idea of the lower spread of the data.

# 6. 50% (Median)
# Definition: The middle value of the data when it is ordered from smallest to largest. This is also known as the median. Half of the data points are below this value, and half are above.

# 7. 75% (Third Quartile)
# Definition: The value below which 75% of the data falls. This is also known as the third quartile (Q3). It indicates the upper spread of the data.

# 8. Maximum (max)
# Definition: The largest value in the column. This represents the upper bound of the data for that variable.

In [13]:
#Question 7:
#1) If analyzing a dataset where most columns are important for analysis and removing any one of them would cause a loss in data, using df.dropna() allows you to remove only the incomplete rows, keeping the majority of the data intact.
#2) If one particular column in a dataset has a majority of missing values and is most likely not essential for your analysis, using del df['col'] to remove it entirely is more efficient than dropping rows.
#3) Deleting a column (del df['col']) before removing rows with missing values (df.dropna()) is important because it reduces the number of missing values that need to be checked. This way, you reduce the amount of data you need to check for missing values, making it easier and more efficient to then remove any rows with missing data.
#4)

In [14]:
# Check for missing values in each column
missing_values = df.isna().sum()
print("\nMissing values per column:")
print(missing_values)

Missing values per column:
row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [15]:
# Remove the 'song' column
del df['song']

# Verify the column has been removed
print("\nDataset info after removing 'song' column:")
print(df.info())

Dataset info after removing 'song' column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   phrase       391 non-null    object
 8   full_id      391 non-null    object
 9   url          391 non-null    object
dtypes: int64(1), object(9)
memory usage: 30.7+ KB
None

In [16]:
# Drop rows with missing values in 'id'
df_cleaned = df.dropna(subset=['id'])

# Display information about the cleaned dataset
print("\nCleaned dataset info:")
print(df_cleaned.info())
print("\nCleaned dataset preview:")
print(df_cleaned.head())

Cleaned dataset info:
<class 'pandas.core.frame.DataFrame'>
Index: 390 entries, 0 to 390
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        390 non-null    int64
 1   id           390 non-null    object
 2   name         390 non-null    object
 3   gender       390 non-null    object
 4   species      390 non-null    object
 5   birthday     390 non-null    object
 6   personality  390 non-null    object
 7   phrase       390 non-null    object
 8   full_id      390 non-null    object
 9   url          390 non-null    object
dtypes: int64(1), object(9)
memory usage: 33.5+ KB
None

Cleaned dataset preview:
   row_n       id     name  gender    species birthday personality    phrase  \
0      2  admiral  Admiral    male       bird     1-27      cranky   aye aye
1      3  agent-s  Agent S  female   squirrel      7-2       peppy  sidekick
2      4    agnes    Agnes  female        pig     4-21        uchi   snuffle
3      6       al       Al    male    gorilla    10-18        lazy   Ayyeeee
4      7  alfonso  Alfonso    male  alligator      6-9        lazy  it'sa me

            full_id                                                url
0  villager-admiral  https://villagerdb.com/images/villagers/thumb/...
1  villager-agent-s  https://villagerdb.com/images/villagers/thumb/...
2    villager-agnes  https://villagerdb.com/images/villagers/thumb/...
3       villager-al  https://villagerdb.com/images/villagers/thumb/...
4  villager-alfonso  https://villagerdb.com/images/villagers/thumb/...

In [17]:
# Justification:
# Removing the 'song' Column: This column was removed because it contained a significant number of missing values (11). Removing it simplifies the dataset and ensures that we don’t have to handle those missing values which was easiest by using del df['col']
 
# Dropping Rows with Missing 'id' Values: T: By using dropna(), you avoid altering the structure of your dataset’s unique identifiers. This method allows you to clean your data while retaining the ability to uniquely identify each entry.

In [18]:
# Before Cleaning: We would see missing data in specific columns and potentially a larger dataset (more rows and columns).
# After Cleaning: The dataset would have fewer columns (since we removed one) and potentially fewer rows (after dropping those with missing data), but it would be free of missing values.

In [19]:
missing_values_after = df_cleaned.isna().sum()

print("\nMissing values per column after cleaning:")
print(missing_values_after)

Missing values per column after cleaning:
row_n          0
id             0
name           0
gender         0
species        0
birthday       0
personality    0
phrase         0
full_id        0
url            0
dtype: int64

In [20]:
#Question 8.1:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

In [21]:
df.groupby("sex")["age"].describe()
# The df.groupby("sex")["age"].describe() operation groups the dataset by gender and provides summary statistics (e.g., count, mean, min, max) for the ages within each gender group.

        count       mean        std   min   25%   50%   75%   max
sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0

In [22]:
#Question 8.2
# df.describe() shows overall statistics for each column, with the count reflecting the number of non-missing values in that entire column. In contrast, df.groupby("col1")["col2"].describe() provides statistics for col2 within each group defined by col1, so the count represents non-missing values within each specific group, which can differ from the overall count.

In [23]:
#Question 8.3
# After expirementing with both ChatGPT and Google, I find ChatGPT to be much easier and more efficent to work on errors with as it can directly understand and solve problems in real-time, especially when things get more complicated. Google was decent for simple concepts such as syntax, but the site simply cannot comprehend entire problems and provide unique solutions the way a ChatBot can. For example, speaking as a beginner, if you encounter an unkown error somewhere deep in your code, ChatGPT can quickly guide you through the debugging process and solve your problems almost instantly. On the other hand, Google searches often are time consuming and lack the personalized interaction and comprehensive problem-solving capabilities that ChatGPT provides.

In [ ]:
#Question 9
# Yes